ul {
    text-align: center;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 5px 15px;
    margin: 0 20px;
    width: 80px;
    background-color: #cfcfcf;
    border-radius: 30px;
}

a:hover {
    background-color: hotpink;
}